<h1>New Ingredient Form</h1>
<%= form_for @ingredient, html: {id: "edit_ingredient_#{@ingredient.id}"} do |f| %>
	<%= f.label	:name %>
	<%= f.text_field :name, html: {id: 'new_ingredient'} %>

	<%= f.submit %>

<% end %>